* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.def_width {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.puti {
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.space_b {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.left {
    padding: 0 15px;
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale {
    position: absolute;
    left: 0;
    top: 0;
}

.container{
    position: relative;
}

.img__tovat {
    width: 250px;
    object-fit: contain;
}

.img-magnifier-glass{
    position: absolute;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2) inset;
    width: 80px;
    height: 80px;
    cursor: none;
    border-radius: 100%;
}

.under_text {
    cursor: pointer;
    margin-top: 17px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1C62CD;
}

.price {
    margin-top: -15px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #2F3035;
}

.skidka {
    margin-top: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
    opacity: 0.6;
    text-decoration: line-through;
}

.right {
    width: 550px;
    height: fit-content;
}

.name_product_2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.kod {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    opacity: 0.6;
}

.reiting {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.stars {
    margin-left: 15px;
    display: flex;
}

.stars div {
    margin-left: 5px;
}

.xarakteristika {
    width: 450px;
    height: auto;
    margin-top: 50px;
}

.top {
    display: flex;
}

.tytleXarak {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2F3035;
}

.top .active {
    padding-bottom: 5px;
    border-bottom: 2px solid #1C62CD;
}

.top .tytleXarak:nth-child(2) {
    margin-left: 15px;
    opacity: 0.6;
}

.xarakteristika .bottom div {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #EAEAEB;
    padding-right: 20px;
}

.xarakteristika .bottom div p,
.xarakteristika .bottom div span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
}

.xarakteristika button {
    width: 177px;
    height: 50px;
    background: #1C62CD;
    border-radius: 3px;
    margin-top: 20px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about_tovar {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

.top_tovar {
    width: 100%;
    background: #F0F0F4;
    display: flex;
    align-items: center;
    padding: 20px;
}

.top_tovar p {
    width: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7C7D81;
}

.top_tovar .active_tovar {
    margin-top: 5px;
    color: #2F3035;
    padding-bottom: 5px;
    border-bottom: 2px solid #1C62CD;
}

.header {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.sayd:nth-child(2) {
    height: auto;
    display: flex;
    align-items: center;
}

.sayd_1 p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #2F3035;
    opacity: 0.7;
}

.header .sayd_1 {
    display: flex;
    align-items: center;
}

.sayd_1 input {
    margin-left: 15px;
    width: 313px;
    height: 33px;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    background-image: url('../img/lupa.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.header .sayd label {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #2F3035;
    margin-left: 5px;
    opacity: 0.7;
}

.header .sayd input:nth-child(3) {
    margin-left: 30px;
}

.block_about {
    margin-top: 40px;
    width: 100%;
    padding: 0 20px;
}

.not_spec {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.not_spec div {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
}

.a {
    width: 220px;
}

.b {
    width: 160px;
}

.c,
.d {
    width: 110px;
}

.e {
    width: 140px;
}

.contain {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F4F4F5;
    border-bottom: 1px solid #F4F4F5;
}

.contain div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6E6E72;
}

.contain div button {
    width: 100%;
    height: 35px;
    background: #1C62CD;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.our__advice {
    width: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#tytle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
    text-align: center;
}

.category___selection {
    width: 100%;
    overflow: scroll;
    margin-top: 20px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.category___selection::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.category___selection p {
    margin-left: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    cursor: pointer;
}

.active_category_selection {
    padding-bottom: 10px;
    border-bottom: 2px solid #1C62CD;
    transition: 300ms;
}

.category___selection p:nth-child(1) {
    margin-left: 0;
}

.category_selector__result {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res_categoria_2 {
    display: flex;
}

.res_categoria_2 div {
    width: 250px;
    height: 400px;
}

center .if_none {
    width: 100%;
    display: none;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #989898;
}

.popular_block {
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    transition: 300ms;
    position: relative;
    padding: 0 20px;
    display: block;
}

.popular_block:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
}

.popular_block:hover .name_product,
.popular_block:hover .price_block {
    color: #1C62CD;
}

.popular_block:hover .btvac {
    display: block;
}

.img_sale {
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: contain;
}

.like_block {
    position: absolute;
    right: 20px;
    top: 15px;
}

.img_tavar {
    margin-top: 80px;
    width: 100%;
    height: 150px;
    object-fit: contain;
    float: right;
    position: relative;
}

.loupe {
    background-color: #444;
    background: rgba(0, 0, 0, 0.25);
    border: 5px solid rgba(0, 0, 0, 0);
}

.name_product {
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.price_block {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.kart_img {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.btvac {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 51px;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F3035;
    border: none;
}

.top_tovar {
    overflow: scroll;
}

.top_tovar p {
    margin-left: 20px;
}

.top_tovar p:nth-child(1) {
    margin-left: 0;
}

.show_xarak {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #C4C4C4;
}

.show_xarak img {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    align-items: center;
}

.space_b center {
    height: 22px;
    display: none;
    overflow: hidden;
}

.contain .bac {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    display: none;
}

.open_magaz {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    margin: 0 auto;
}

center[name="p"] p:nth-child(2) {
    transform: rotate(90deg);
    margin-left: 5px;
    position: absolute;
    right: -5px;
    top: -8px;
    transition: 300ms;
}

center[name="p"] {
    position: relative;
    display: none;
    width: fit-content;
    margin: 0 auto;
}

.search {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}

@media only screen and (max-width: 900px) {
    .header {
        display: block;
    }

    .xarakteristika {
        width: 100%;
    }

    .our__advice {
        display: flex;
    }

    .name_product_2 {
        text-align: center;
    }

    center[name="p"] {
        display: flex;
    }

    .header .sayd {
        margin-top: 30px;
    }

    .header .sayd div:nth-child(2) {
        margin-left: 15px;
    }

    .space_b {
        flex-direction: column-reverse;
    }

    .left {
        width: fit-content;
        height: 400px;
        margin-top: 20px;
    }

    .it_isCenter {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .img__tovat {
        width: 200px;
        height: 200px;
    }

    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .xarakteristika:nth-child(4) {
        display: none;
    }

    .xarakteristika:nth-child(1) {
        margin-top: -50px;
    }

    .space_b center {
        display: block;
    }

    .space_b center p img {
        transition: 300ms;
    }

    .not_spec {
        display: none;
    }

    .contain {
        display: block;
    }


    .contain div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .contain div .bac {
        display: block;
    }

    .contain div:nth-child(1) {
        margin-top: 0;
    }

    .contain div button {
        height: 50px;
    }

    .all_contain {
        height: 335px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 500px) {
    .top_tovar {
        padding: 15px;
    }

    .top_tovar p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    .sayd_1 {
        align-items: left;
        flex-direction: column;
    }

    .sayd_1 input {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .sayd_1 p {
        text-align: left;
    }

    .sayd {
        flex-direction: column;
        justify-content: left;
    }

    .sayd div {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #C4C4C4;
    }

    .header .sayd div:nth-child(2) {
        margin-left: 0;
        margin-top: 15px;
    }

    .show_xarak {
        font-weight: 18;
        font-weight: 500;
    }

    .all_contain .contain .b main p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 350px) {
    .all_contain .contain .b main p {
        font-size: 12px;
    }

    .top {
        width: fit-content;
        display: block;
    }

    .img-magnifier-glass{
        width: 65px;
        height: 65px;
    }
}