* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body{
    padding: 15px;
}

.bab{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 380px;
    grid-gap: 20px;
}

.popular_block {
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    transition: 300ms;
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular_block:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
}

.popular_block:hover .name_product,
.popular_block:hover .price_block {
    color: #1C62CD;
}

.popular_block:hover .btvac {
    display: block;
}

.img_sale {
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: contain;
}

.like_block {
    position: absolute;
    right: 20px;
    top: 15px;
}

.img_tavar {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.name_product {
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.price_block {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.kart_img {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.btvac {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 51px;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F3035;
    border: none;
}

@media only screen and (max-width: 1060px){
    .bab{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px){
    .bab{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 530px){
    .bab{
        grid-template-columns: repeat(1, 1fr);
    }
}
