@media only screen and (max-width: 1145px) {
    .front_page {
        display: block;
    }

    main {
        margin-top: 40px;
    }

    .sayd_a,
    .slaider,
    .slaider_block,
    .slaider_block img {
        width: 100%;
    }

    .sayd_b {
        width: 100%;
        justify-content: center;
        height: 400px;
        margin-top: 30px;
    }

    .img_tavar {
        margin-top: 65px;
    }

    .btvac {
        width: 150px;
    }
}

@media only screen and (max-width: 950px) {
    .res_categoria {
        height: 400px;
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);
    }

    .result_search{
        grid-template-columns: repeat(3, 1fr);
    }

    .our__advice,
    .reklama,
    .popular,
    .greed_for_toolBlocks,
    .search,
    main {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .def_width {
        padding: 0 20px;
    }

    .katekorii {
        display: block;
    }

    .katekorii button {
        display: block;
        margin-top: 15px;
        margin-left: 0;
    }

    .category___selection {
        overflow: scroll;
    }

    .category___selection::-webkit-scrollbar {
        width: 0;
    }

    .category___selection p {
        margin-left: 20px;
    }

    .res_categoria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px){
    .result_search{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 520px) {
    .res_cat_1 {
        display: none;
    }

    .res_cat {
        display: flex;
    }

    .def_width{
        padding: 0 15px;
    }

    .result_search{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 350px;
    }
}

@media only screen and (max-width: 250px){
    .result_search{
        grid-auto-rows: 370px;
    }
}

@media only screen and (max-width: 350px) {
    .mobal_v {
        display: none;
    }

    .slaider_block img {
        width: 100%;
    }

    .dots div {
        width: 7px;
        height: 7px;
    }

    .sayd_b div {
        width: 250px;
        height: 350px;
    }

    .img_tavar {
        margin-top: 50px;
    }

    #tytle {
        text-align: center;
    }

    .our__advice,
    .reklama,
    .popular,
    .greed_for_toolBlocks,
    .search,
    main {
        margin-top: 25px;
    }

    .popular center button {
        width: 252px;
        height: 50px;
    }

    .comp_v {
        display: flex;
    }

    .block_toolBlocks img {
        top: 65%;
    }

    .block_toolBlocks:nth-child(1) img {
        width: 90px;
        height: 69px;
    }

    .block_toolBlocks:nth-child(2) img {
        width: 121px;
        height: 65px;
    }

    .block_toolBlocks:nth-child(3) img {
        width: 154.1px;
        height: 75.68px;
    }

    .block_toolBlocks:nth-child(4) img {
        width: 121px;
        height: 77px;
    }

    .block_toolBlocks:nth-child(5) img {
        width: 117px;
        height: 75px;
    }

    .block_toolBlocks:nth-child(6) img {
        width: 123px;
        top: 50%;
        height: 80px;
    }

    .block_toolBlocks:nth-child(7) img {
        top: 50%;
        height: 100px;
    }
}