* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.def_width {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.puti {
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.alll {
    margin-top: 30px;
}

.tytle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.spce_b {
    display: flex;
    justify-content: space-between;
}

.sayd_b {
    display: flex;
    align-items: center;
}

.alll .sayd_b select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 33px;
    border: 1.5px solid #D7D9DF;
    outline: none;
    padding-left: 10px;
    appearance: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    overflow: hidden;
    background: url('../img/Shape.png') no-repeat;
    background-position: 95%;
}

.sayd_b img {
    margin-left: 10px;
    transition: 300ms;
}

.sayd_b img:hover {
    box-shadow: 1px 1px 15px rgba(50, 50, 50, 0.25);
}

aside {
    height: auto;
    width: 280px;
}

.flex {
    display: flex;
    margin-top: 40px;
}

.all_cat {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 20px;
}

.popular_block {
    width: auto;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    transition: 300ms;
    position: relative;
    padding: 0 20px;
    display: block;
}

.popular_block:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
}

.popular_block:hover .name_product,
.popular_block:hover .price_block {
    color: #1C62CD;
}

.popular_block:hover .btvac {
    display: block;
}

.img_sale {
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: contain;
}

.like_block {
    position: absolute;
    right: 20px;
    top: 15px;
}

.img_tavar {
    margin-top: 70px;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.name_product {
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.price_block {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.kart_img {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.btvac {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 51px;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F3035;
    border: none;
}

aside div:nth-child(1) {
    display: flex;
}

aside div:nth-child(1) h1 {
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #2F3035;
    padding-bottom: 7px;
    border-bottom: 2px solid #1C62CD;
}

aside div:nth-child(1) h1:nth-child(2) {
    border: none;
    color: #C4C4C4;
    margin-left: 20px;
}

aside div:nth-child(2),
aside div:nth-child(3),
aside div:nth-child(4),
.mosh,
.brend,
.search_div,
.aktsii,
.last {
    margin-top: 30px;
}

.tytle_with_img,
.tytle_with_im {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #2F3035;
    padding-bottom: 20px;
}

.tytle_with_img img {
    padding-left: 10px;
    transform: rotate(180deg);
    transition: 300ms;
}

aside div:nth-child(2) input {
    width: 14px;
    height: 14px;
}

aside div:nth-child(2) label {
    margin-left: 5px;
}

.left_20 {
    margin-left: 15px;
}

.range {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}

.range .progress {
    height: 5px;
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 5px;
    background-color: #17A2B8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    pointer-events: auto;
    background-color: #17A2B8;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    -moz-appearance: none;
    pointer-events: auto;
    background-color: #17A2B8;
}

.j_sB {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.j_sB p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.mosh div,
.last div {
    padding-bottom: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    border-bottom: 2px solid #C4C4C4;
}

.mosh div p,
.last div p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2F3035;
}

.mosh div select,
.last div select {
    border: none;
    outline: none;
}

.brend .brend_block {
    width: auto;
    height: auto;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.brend .aa {
    display: flex;
    flex-wrap: wrap;
}

.search_div input {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #E0E0E0;
    padding-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: black;
    outline: none;
}

.search_div input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #BDBEC2;
}

.result {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.hide {
    display: none;
}

.result p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
}

.aktsii div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
}

.aktsii div button {
    border: none;
    height: 25px;
    background: #F0F0F4;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4;
    padding: 0 15px;
}

.vibor {
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
    color: #BDBEC2;
    background: #F0F0F4;
}

.sayd_b button {
    display: none;
    width: 150px;
    height: 33px;
    border: 1.5px solid #D7D9DF;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
}

.our__advice {
    width: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#tytle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
    text-align: center;
}

.category___selection {
    width: 100%;
    overflow: scroll;
    margin-top: 20px;
    overflow: scroll;
    display: flex;
}

.category___selection::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.category___selection p {
    margin-left: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    cursor: pointer;
}

.active_category_selection {
    padding-bottom: 10px;
    border-bottom: 2px solid #1C62CD;
    transition: 300ms;
}

.category___selection p:nth-child(1) {
    margin-left: 0;
}

.category_selector__result {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res_categoria_2 {
    display: flex;
}

.res_categoria_2 div {
    width: 250px;
    height: 400px;
}

center .if_none {
    width: 100%;
    display: none;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #989898;
}

.sayd_a {
    margin-top: 20px;
    height: auto;
    width: 70%;
    display: flex;
    overflow: scroll;
}

.sayd_b {
    margin-top: 20px;
}

.sayd_a .katekoria_btn {
    display: flex;
    min-width: 120px;
    height: 100%;
    background: #F0F0F4;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #696A6E;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.sayd_a .katekoria_btn:nth-child(1){
    margin-left: 0;
}

.sayd_a::-webkit-scrollbar {
    width: 0;
    height: 0;
}
@media only screen and (max-width: 920px) {
    .all_cat {
        grid-template-columns: repeat(2, 1fr);
    }

    .spce_b {
        display: block;
    }

    .sayd_a {
        width: 100%;
    }


    .sayd_b {
        margin-top: 15px;
        padding: 15px 0;
        border-top: 1.5px solid #C4C4C4;
        border-bottom: 1.5px solid #C4C4C4;
        overflow: scroll;
    }
}

@media only screen and (max-width: 700px) {
    .all_cat {
        grid-template-columns: repeat(1, 1fr);
    }

    .sayd_b button {
        display: block;
    }

    .flex aside {
        display: none;
    }

    .all_cat {
        margin-left: 0;
    }

    .flex {
        justify-content: center;
        align-items: center;
    }

    .def_width {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 500px) {
    .our__advice {
        display: flex;
    }
}