* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.def_width {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.front_page {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sayd_a {
    width: fit-content;
    position: relative;
}

.slaider {
    width: fit-content;
    display: flex;
    position: relative;
}

.slaider_block {
    display: none;
}

.active_slaider {
    display: flex;
}

.img_next_prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
}

.dots div {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    border: 1px solid white;
    margin-left: 10px;
}

.dots div:nth-child(1) {
    margin-left: 0;
}

.active_dots {
    background-color: white;
}

.res_categoria_2 {
    display: none;
}

.katekorii {
    display: flex;
}

.katekorii_btn {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    margin-left: 30px;
}

.katekorii .katekorii_btn:nth-child(1) {
    margin-left: 0;
}

.active_katekorii {
    padding: 0 25px;
    height: 47px;
    background: #F0F0F4;
    border-radius: 5px;
    font-weight: 700;
    color: #2F3035;
}

.input_search {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.input_search input {
    width: 100%;
    background: #F0F0F4;
    border-radius: 3px;
    padding-left: 20px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: black;
    outline: none;
}

.input_search input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #656464;
}

.input_search button {
    width: 145px;
    height: 50px;
    background: #1C62CD;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.greed_for_toolBlocks {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    justify-content: center;
}

.block_toolBlocks {
    width: 370px;
    height: 129px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}

.active__block_toolBlocks {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.block_toolBlocks img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    object-fit: cover;
    z-index: 1;
}

.sayd_tool {
    position: absolute;
    z-index: 100;
    left: 20px;
    height: 100%;
    padding: 20px 0;
}

.tytle_tool {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #2F3035;
}

.sayd_tool p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-top: 45px;
}

.block_toolBlocks:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.block_toolBlocks:hover .tytle_tool {
    color: #1C62CD;
}

#tytle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
}

.category___selection {
    margin-top: 20px;
    display: flex;
}

.category___selection p {
    margin-left: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    cursor: pointer;
}

.active_category_selection {
    padding-bottom: 10px;
    border-bottom: 2px solid #1C62CD;
    transition: 300ms;
}

.category___selection p:nth-child(1) {
    margin-left: 0;
}

.popular center button {
    margin-top: 30px;
    width: 252px;
    height: 50px;
    background: #F0F0F4;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #2F3035;
}

.our__advice,
.reklama,
.popular,
.search,
main {
    margin-top: 80px;
}

.greed_for_toolBlocks{
    margin-top: 20px;
}

.comp_v {
    display: none;
}

.reklama {
    cursor: pointer;
}

.reklama img {
    object-fit: cover;
    width: 100%;
}

.category_selector__result {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res_categoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 380px;
    grid-gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.res_cat{
    display: none;
}

.res_categoria_2 {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 380px;
    grid-gap: 20px;
    width: 100%;
    height: 380px;
    padding: 0 20px;
    display: grid;
    position: relative;
}

.res_categoria_2 div {
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.center{
    display: none;
}

.if_none {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #989898;
}

.nn{
    display: none;
}

.res_cat_1{
    display: flex;
}

.hide{
    display: none;
}

#arrow {
    width: 17px;
    height: 28px;
}

.popular_block {
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    transition: .3s ease;
    position: relative;
    padding: 0 20px;
    display: block;
}
.popular_block::before {    
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000000;
}

.popular_block:hover::before{
    background-color: #00000060;
}
.popular_block:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    cursor: pointer;
}

.popular_block:hover .name_product,
.popular_block:hover .price_block {
    color: #1C62CD;
}

.popular_block:hover .btvac {
    display: block;
    cursor: pointer;
}

.img_sale {
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: contain;
}

.like_block {
    position: absolute;
    right: 20px;
    top: 15px;
}

.img_tavar {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.name_product {
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.price_block {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.kart_img {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.btvac {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 51px;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F3035;
    border: none;
}

.sayd_b {
    display: flex;
    width: 270px;
}

.sayd_b div {
    width: 270px;
}

.result_search{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 400px;
}

.hide{
    display: none;
}